<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blend Demo</title>
    <script src="../node_modules/requirejs/require.js"></script>
    <script>
      // todo Insert from Gruntfile
      require.config({
        baseUrl: "../dist",
        map: {
          '*': {
            css: '../node_modules/require-css/css'
          }
        }
      });
    </script>
    <script>
      // todo Insert from Gruntfile when in debug / dev mode
      require(['blend-assert', 'blend-oop', 'blend-utils', 'blend-data',
        'blend-event', 'blend-module', 'blend-template', 'blend-entity',
        'blend-i18n', 'blend-router', 'blend-api', 'blend-widget',
        'blend-ui'
      ], function (assert, oop, utils, data, event, module, template, entity,
          i18n, router, api, widget, ui
      ) {
        $assert = assert;
        $oop = oop;
        $utils = utils;
        $data = data;
        $event = event;
        $module = module;
        $template = template;
        $entity = entity;
        $i18n = i18n;
        $router = router;
        $api = api;
        $widget = widget;
        $ui = ui;
      });
    </script>
    <script>
      require(['blend-ui', 'blend-demo'], function ($ui) {
        $ui.Application.create();
      });
    </script>
</head>
<body>
</body>
</html>