<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/requirejs/require.js"></script>
    <script>
      // todo Insert from Gruntfile
      require.config({
        baseUrl: "../dist",
        map: {
          '*': {
            css: '../node_modules/require-css/css'
          }
        }
      });
    </script>
    <script>
      // todo Insert from Gruntfile when in debug / dev mode
      require(['blend-assert', 'blend-oop', 'blend-utils', 'blend-data',
        'blend-event', 'blend-module', 'blend-template', 'blend-entity',
        'blend-i18n', 'blend-router', 'blend-api', 'blend-widget',
        'blend-widgets'
      ], function (assert, oop, utils, data, event, module, template, entity,
          i18n, router, api, widget, widgets
      ) {
        $assert = assert;
        $oop = oop;
        $utils = utils;
        $data = data;
        $event = event;
        $module = module;
        $template = template;
        $entity = entity;
        $i18n = i18n;
        $router = router;
        $api = api;
        $widget = widget;
        $widgets = widgets;
      });
    </script>
    <script>
      // todo Extend to include all basic widgets
      require(['blend-widget', 'blend-widgets'
      ], function ($widget, $widgets) {
        // simple text
        $widgets.Application.create()
        .addChildNode($widgets.Text.create({textString: "Hello World!"}));

        // translatable text
        '_translation/helloworld-de'.toDocument().setNode({
          originalString: "Hello World!",
          pluralForms: ["Hallo Welt!"]
        });
        '_locale/de'.toDocument().setNode({
          localeName: 'German',
          pluralFormula: 'nplurals=2; plural=(n != 1);',
          translations: {
            '_translation/helloworld-de': 1
          }
        });
        $widgets.Application.create()
        .addChildNode($widgets.LocaleText.create({
          textString: "Hello World!".toTranslatable()
        }));

        // first render
        $widgets.Application.create()
        .renderInto(document.body);
      });
    </script>
</head>
<body>
</body>
</html>