<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/requirejs/require.js"></script>
    <script>
      require.config({
        baseUrl: "../dist"
      });
      // todo Require blend-routing only as soon as ready.
      require([
        'blend-assert',
        'blend-oop',
        'blend-utils',
        'blend-data',
        'blend-event',
        'blend-entity',
        'blend-i18n',
        'blend-template',
        'blend-widget',
        'blend-widgets'
      ], function (assert, oop, utils, data, event, entity, i18n, template,
          widget, widgets
      ) {
        $assert = assert;
        $oop = oop;
        $utils = utils;
        $data = data;
        $event = event;
        $entity = entity;
        $i18n = i18n;
        $template = template;
        $widget = widget;
        $widgets = widgets;
      });
    </script>
</head>
<body>
</body>
</html>