<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blend Demo For Perf</title>
    <script src="../dist/blend-assert.js"></script>
    <script src="../dist/blend-oop.js"></script>
    <script src="../dist/blend-utils.js"></script>
    <script src="../dist/blend-data.js"></script>
    <script src="../dist/blend-event.js"></script>
    <script src="../dist/blend-module.js"></script>
    <script src="../dist/blend-template.js"></script>
    <script src="../dist/blend-entity.js"></script>
    <script src="../dist/blend-api.js"></script>
    <script src="../dist/blend-router.js"></script>
    <script src="../dist/blend-widget.js"></script>
    <script src="../dist/blend-i18n.js"></script>
    <script src="../dist/blend-ui.js"></script>
    <script>
      // todo Insert from Gruntfile when in debug / dev mode
      $assert = window['blend-assert'];
      $oop = window['blend-oop'];
      $utils = window['blend-utils'];
      $data = window['blend-data'];
      $event = window['blend-event'];
      $module = window['blend-module'];
      $template = window['blend-template'];
      $entity = window['blend-entity'];
      $api = window['blend-api'];
      $router = window['blend-router'];
      $widget = window['blend-widget'];
      $i18n = window['blend-i18n'];
      $ui = window['blend-ui'];
    </script>
    <script>
      // todo Insert by blend-ui
      window['blend-ui'].Application.create();
    </script>
    <!-- todo Insert by blend-demo -->
    <script src="../dist/blend-demo.js"></script>
    <link rel="stylesheet" href="../dist/blend-demo.css">
</head>
<body>
</body>
</html>